body {
    margin: 0;
    background-color: #1b2632;
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
    width: 100%;
    color: white;
}

.header {
    grid-column: 1 / 13;
    padding: 0px 20px 0px 20px;
    text-align: center;
}

.aside {
    display: none;
}

.main {
    grid-column: 1 / 13;
    /*padding-left: 5px;*/
	padding-left: 2vh;
    padding-right: 5px;
	padding-bottom: 10px;
    font-weight: 100;
}

img {
    height: 12vh;
    max-width: 100%;
    align-items: center;    
    transition: transform 0.3s ease;
}

li {
    font-size: 1.4em;
}

.pdescribe {
    font-size: 1em;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 10px 0;
}

.blurred-text {
    filter: blur(10px);
    cursor: pointer;
    transition: filter 0.4s ease;
}


 .conversation {
    color: #f56ebd;
}


.examples {
    font-size: 1.1em;
}

.describe {
    color:#e25b46 ;
    font-size: 1.5em ;
}

.extra {
    color:#f47461;
    font-size: 1em;
}

.grammar {
    color: #7cedfa;
}

.num {
    color:#ed5c3b;
}

a {
    color: #53d0f3;
    font-size: 1.2em;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 1 8px 16px rgba(255, 255, 255, 0.2);
}

.arrow {
    display: none;
}

.audioImages {
    width: 4.5%;
    height: auto;
}

@media screen and (min-width: 1000px) {
    .container {
        grid-template-columns: repeat(10, 1fr);
    }

    .header {
        grid-column: 1 / 11;
    }

    p {
        font-size: 1.7em;
        margin: 10px 0;
    }

    .examples {
        font-size: 1.7em;
        line-height: 1.2;
    }

    .describe {
        font-size: 1.7em;
    }

    .pdescribe {
        font-size: 1.7em;
    }

    .extra {
        font-size: 1.4em;
    }

    .aside {
        display: flex;
        height: 87vh;
        grid-column: 1 / 3;
        flex-direction: column;
        /* overflow-x: auto; */
        /* overflow-y: none; */
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: #888 #1b2632;
    }

    .main {
        grid-column: 3 / 11;
        padding-left: 10px;
        padding-right: 5px;
        border-left: 2px solid white;
        height: 87vh;
        overflow-x: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: #888 #1b2632;
    }

    .aside-hidden .aside {
        display: none;
    }

    .aside-hidden .main {
        grid-column: 1 / 11;
        border-left: 0;
    }

    li {
        font-size: 2em;
    }

    th, td {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: left;
    }

    table caption {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .tbl2 {
        width: 45%;
        border-collapse: collapse;
        font-size: 1.2em;
    }

    .tbl2 td:hover {
        background-color: #4a3131;
        cursor: pointer;
    }

    .tbl1 {
        width: 25%;
        border-collapse: collapse;
    }

    .tbl1 tr:hover {
        background-color: #4a3131;
        cursor: pointer;
    }

    .arrow {
        display: flex;
        width: 1.5em;
        height: auto;
        cursor: pointer;
    }

    .audioImages {
        width: 2.5%;
        height: auto;
        cursor: pointer;
    }
}