body {
    margin: 0;
    background-color: #1b2632;
    padding: 0px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    width: 100%;
    color: white;
}

.header {
    grid-column: 1 / 6;
    padding: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    height: 12vh;
    align-items: center;   
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.first, .second, .third {
    grid-column: 1 / 6;
    padding: 30px;
}
@media screen and (min-width: 1000px) {
    .container {
        grid-template-columns: repeat(8, 1fr);
    }

    .header, .space1 {
        grid-column: 1 / 9;
    }

    .first {
        grid-column: 1 / 3;
        /* margin: 20px; */
    }
    
    .second {
        grid-column: 4 / 6;
        /* margin: 20px; */
    }

    .third {
        grid-column: 7 / 9;
        /* margin: 20px; */
    }
}