body {
    margin: 0;
    background-color: #1b2632;
    padding: 0px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    width: 100%;
    color: white;
}

.header {
    grid-column: 1 / 6;
    padding: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    align-items: center;   
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.12);
    box-shadow: 1 8px 16px rgba(255, 255, 255, 0.2);
}

.grammar, .quizwords, .vocabulary, .settings {
    grid-column: 1 / 6;
    padding: 30px;
}

.space1 {
    grid-column: 1 / 6;
    grid-row: 2 / 6;
}

.space2 {
    grid-column: 1 / 6;
    grid-row: 7 / 11;
}

.space3 {
    grid-column: 1 / 6;
    grid-row: 12 / 16;
}

.space4 {
    grid-column: 1 / 6;
    grid-row: 17 / 21;
}

@media screen and (min-width: 1000px) {
    .container {
        grid-template-columns: repeat(8, 1fr);
    }

    .header {
        grid-column: 1 / 9;
    }

    .space2, .space3, .space4 {
        display: none;
    }

    .grammar, .vocabulary {
        grid-column: 3 / 5;
    }    

    .quizwords, .settings {
        grid-column: 5 / 7;
    }
}